
<footer>

    <div class="footer-email">
         <a href="mailto:akshaysk@imsc.res.in">
                [akshaysk at imsc dot res dot in]
            </a>
            or
            <a href="mailto:asanjeevkeloth@gmail.com">
                [asanjeevkeloth at gmail dot com]
            </a>
    </div>

    <div class="social-links">
        <a href="#" aria-label="GitHub">
            <img src="assets/images/social/git.svg" alt="">
        </a>

        <a href="#" aria-label="Google Scholar">
            <img src="assets/images/social/twitter.svg" alt="">
        </a>

        <a href="#" aria-label="ORCID">
            <img src="assets/images/social/insta.svg" alt="">
        </a>
    
    </div>

</footer>